*{
margin: 0;
padding: 0;
}

#container{
background-color:blanchedalmond;
width: 1000px;
height: 500px;
    margin: 0 auto;

}
#paisaje{
 width:1000px;
height: 500px;
position: relative;
background-image:url(imagenes/nubes.gif);
background-size: cover;
background-repeat: no-repeat;
    box-shadow: inset 10px 10px 350px black;
overflow: hidden;
    
} 

#barco{
width: 200px;
height: 300px;
position: absolute;
top:100px; 
left: 0%;
z-index: 1;
background-image:url(imagenes/barco-pirata2.png);
background-size: contain;
background-repeat: no-repeat;
    
  
    animation-name:navegar;
    animation-duration:20s;
 
}
  @keyframes navegar{
      
        100%{
       
        left:130%;
        }
}
/*      */
#mar{
height: 300px;
width: 1000px;
position: absolute;
top:50%;
background-image:url(imagenes/energia_bajo_mar.gif);
background-repeat:repeat;
    background-size: cover;
box-shadow: inset 10px 10px 100px black;
}
#peces{
width: 100px;
height: 50px;
position: absolute;
background-image:url(imagenes/peces.png);
background-size: cover;
top:100px;
left: 100px;
 animation-name:nadar;
    animation-duration:18s;

}
  @keyframes nadar{
      
        100%{
       
        left:130%;